$primary-color: #c5c5c5;
$secondary-color: #000000;

body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

.header {
	background-color: $primary-color;
	color: $secondary-color;
	padding: 10px;
	text-align: center;

	h1 {
		margin: 0;
		font-size: 2rem;
	}
}

.footer {
	background-color: $primary-color;
	color: $secondary-color;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
}