.searchInput {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchInput input {
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 20px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	width: 40%;
	transition: width 1s ease-in-out;
}

.searchInput input:focus {
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}